body {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

#navbar {
    padding: 15px;
    margin: 0 -7px 20px;
    box-shadow: 0 5px 5px rgb(185, 185, 185);
}

#social {
    text-align: right;
    margin-right: 15%;
}

.socialLink {
    margin: 0 7px;
    text-decoration: none;
    color: rgb(160, 160, 160);
    padding-left: 7px;
    border-left: .5px solid rgb(185, 185, 185);
}

#intro {
    color: black;
    overflow: hidden;
    animation: envelopeGrow 7s;
}

#name {
    font-size: 250%;
    font-family: 'Francois One', sans-serif;
    margin: 20% 0 20px;
}

#summary {
    color: grey;
    font-size: 125%;
    margin: 20% 0 40%;
}

#profilePic {
    margin: -80% 0 0 29%;
    width: 150px;
    border-radius: 100%;
    float: left;
    position: relative;
    border: 10px solid white;
    box-shadow: 0 5px 10px grey;
    animation: envelopeBounce 8s 3s infinite;
}

.crease {
    width: 50%;
    height: 30px;
    float: left;
    position: relative;
    background-color: white;
    border-top: 1px solid rgb(241, 241, 241);
    box-shadow: 0 5px 10px grey;
    animation: envelopeBounce 8s 3s infinite;
}

#creaseL {
    transform: skewy(15deg);
    margin: -70% 0 0;
}

#creaseR {
    transform: skewy(-15deg);
    margin: -70% 0 0 50%;
}

.envelope {
    background-image: url("../images/halftone-yellow.png");
    width: 50%;
    height: 200px;
    float: left;
    position: relative;
}

#envL {
    transform: skewy(15deg);
}

#envR {
    transform: skewy(-15deg);
}

#envB {
    background-image: url("../images/halftone-yellow.png");
    width: 100%;
    height: 150px;
    margin: -110px 0 0;
    float: left;
}

#mailbox {
    animation: mailbox 6s forwards;
}

#box {
    height: 40px;
    width: 55px;
    background-image: url("../images/squared_metal.png");
    position: absolute;
    top: 18%;
    left: 0;
    box-shadow: 2px 5px 5px grey;
}

#opening {
    height: 40px;
    width: 5px;
    background-color: black;
    position: absolute;
    top: 18%;
    left: 50px;
    border-radius: 100% 100% 15% 0;
}

#door {
    height: 40px;
    width: 10px;
    background-image: url("../images/squared_metal.png");
    position: absolute;
    top: 21%;
    left: 65px;
    border-radius: 100% 100% 15% 0;
    border: .5px solid silver;
    transform: skew(-45deg) rotate(100deg);
    box-shadow: 2px 5px 5px grey;
}

@keyframes mailbox {
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes envelopeBounce {
    0% {
        box-shadow: 0 5px 10px grey;
    }
    2% {
        box-shadow: 0 15px 10px grey;
    }
    4% {
        box-shadow: 0 5px 10px grey;
    }
    7% {
        box-shadow: 0 11px 10px grey;
    }
    9% {
        box-shadow: 0 5px 10px grey;
    }
}

@keyframes envelopeGrow {
    0% {
        opacity: 0;
        transform: translate(-40%, -30%) scale(.1, .03);
    }
    59% {
        opacity: 0;
    }
    60% {
        opacity: 1;
        transform: translate(-40%, -30%) scale(.1, .03);
    }
    70% {
        opacity: 1;
        transform: translate(-35%, -30%) scale(.1, .03);
    }
    85% {
        transform: scale(.1, .03);
    }
    100% {
        transform: scale(1, 1);
    }
}