body {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

#navbar {
    padding: 15px;
    margin: 0 -7px 20px;
    box-shadow: 0 5px 5px rgb(185, 185, 185);
}

#social {
    text-align: right;
    margin-right: 15%;
}

.socialLink {
    margin: 0 7px;
    text-decoration: none;
    color: rgb(160, 160, 160);
    padding-left: 7px;
    border-left: .5px solid rgb(185, 185, 185);
}

#intro {
    min-height: 800px;
    color: white;
    background-image: url("./images/intro4.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -7px -8px 0;
}

#profilePic {
    margin: 7% 0 40px;
    width: 225px;
    border-radius: 100%;
    /* box-shadow: 5px 8px 10px rgb(240, 240, 240); */
}

#name {
    font-size: 250%;
    font-family: 'Francois One', sans-serif;
    margin: 0 0 20px;
}

#summary {
    font-size: 125%;
}



@keyframes intro {
/*     0% {
        background-image: url("./images/intro1.png");
    }
    33% {
        background-image: url("./images/intro2.png");
    } */
    0% {
        background-image: url("./images/intro3.png");
    }
    100% {
        background-image: url("./images/intro4.png");
    }
}


#animation {
    width: 200px;
    height: 200px;
    background-image: url("./images/markit.png");
    background-size: 100%;
    animation: picChange 5s forwards;
}

@keyframes picChange {
    from {
        background-image: url("./images/markit.png");
    }
    to {
        background-image: url("./images/burger.png");
    }
}