body {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

#navbar {
    padding: 15px;
    margin: 0 -7px 20px;
    box-shadow: 0 5px 5px rgb(185, 185, 185);
}

#social {
    text-align: right;
    margin-right: 15%;
}

.socialLink {
    margin: 0 7px;
    text-decoration: none;
    color: rgb(160, 160, 160);
    padding-left: 7px;
    border-left: .5px solid rgb(185, 185, 185);
}

#intro {
    color: black;
    margin: auto;
    text-align: center;
    animation: envelopeGrow 5s;
}

#name {
    font-size: 250%;
    font-family: 'Francois One', sans-serif;
    margin: 30% 0 40px;
}

#summary {
    color: grey;
    font-size: 125%;
    margin: 0 0 40%;
}

#profilePic {
    width: 150px;
    border-radius: 100%;
    float: left;
    position: fixed;
    border: 10px solid white;
    box-shadow: 0 5px 10px grey;
    transform: translate(-77.5px, -40px);
    animation: envelopeBounce 8s 6s infinite;
}

#clickArrow {
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 0 50% 50%;
    height: 90px;
    width: 90px;
    float: left;
    position: fixed;
    transform: translate(240px, 50px) rotate(-10deg);
}

#pssst {
    float: left;
    position: fixed;
    transform: translate(265px, 75px);
}

#clickMe {
    float: left;
    position: fixed;
    transform: translate(255px, 95px);
}

#hint {
    animation: hint 20s;
}

.crease {
    width: 50%;
    height: 30px;
    float: left;
    position: fixed;
    background-color: white;
    border-top: 1px solid rgb(241, 241, 241);
    box-shadow: 0 5px 10px grey;
    animation: envelopeBounce 8s 6s infinite;
}

#creaseL {
    transform: skewy(15deg);
}

#creaseR {
    transform: skewy(-15deg);
    margin-left: 50%;
}

.envelope {
    background-image: url("../images/halftone-yellow.png");
    width: 50%;
    height: 200px;
    float: left;
    position: fixed;
}

#envL {
    transform: skewy(15deg);
}

#envR {
    transform: skewy(-15deg);
    margin-left: 50%;
}

#envB {
    background-image: url("../images/halftone-yellow.png");
    width: 100%;
    height: 300px;
    margin-top: 100px;
    float: left;
    position: fixed;
    overflow: hidden;
}

#mailbox {
    animation: mailbox 4s forwards;
    position: absolute;
    z-index: 100;
}

#box {
    height: 40px;
    width: 60px;
    background-image: url("../images/squared_metal.png");
    margin: 30px 0 0 -5px;
    box-shadow: 2px 5px 5px grey;
}

#opening {
    height: 40px;
    width: 5px;
    background-color: black;
    margin: -40px 0 0 50px;
    border-radius: 100% 100% 15% 0;
}

#door {
    height: 40px;
    width: 10px;
    background-image: url("../images/squared_metal.png");
    margin: -20px 0 0 65px;
    border-radius: 100% 100% 15% 0;
    border: .5px solid silver;
    transform: skew(-45deg) rotate(100deg);
    box-shadow: 2px 5px 5px grey;
}

@keyframes mailbox {
    0% {
    }
    5% {
        /* transform: scale(1.3, 1.3); */
        transform: rotate(30deg);
    }
    10% {
        /* transform: scale(1, 1); */
        transform: rotate(-30deg);
    }
    15% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    25% {
        transform: rotate(0deg);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes envelopeGrow {
    0% {
        opacity: 0;
        transform: translate(-40%, -30%) scale(.1, .03);
    }
    39% {
        opacity: 0;
    }
    40% {
        opacity: 1;
        transform: translate(-40%, -30%) scale(.1, .03);
    }
    70% {
        opacity: 1;
        transform: translate(-35%, -30%) scale(.1, .03);
    }
    85% {
        transform: scale(.1, .03);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes envelopeBounce {
    0% {
        box-shadow: 0 5px 10px grey;
    }
    2% {
        box-shadow: 0 15px 10px grey;
    }
    4% {
        box-shadow: 0 5px 10px grey;
    }
    7% {
        box-shadow: 0 11px 10px grey;
    }
    9% {
        box-shadow: 0 5px 10px grey;
    }
}

@keyframes hint {
    0% {
        opacity: 0;
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}